# This is a basic workflow to help you get started with Actions

name: CALL_REUSABLE_WORKFLOW

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  call_reusable:
    uses: ./.github/workflows/reusable_test.yml
