name: selfhosted_runner
on:
  push:
    branches: [ "main" ]

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
 build-job:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4
     - run: echo "Running on self-hosted Linux environment"
