name: selfhosted_runner
on:
  push:
    branches: [ "main" ]
jobs:
 build-job:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v4
     - run: echo "Running on self-hosted Linux environment"
